- content_for :breadcrumbs do
  %li.active
    #{@user.name}
= content_for :title do
  = @user.name
  %small
    Gebruikersprofiel
= render partial: 'users/user_details', locals: { user: @user}
= render partial: 'comments/comments', locals: {commentable: @user}