- unless user_signed_in?
  %li
    = link_to(t('navigation.sign_in'), new_user_session_path)
- if user_signed_in?
  %li.dropdown{'data-dropdown' => 'dropdown'}
    %a.dropdown-toggle= t('sentences.logged_in_as', user: current_user.name)
    %ul.dropdown-menu
      %li
        = link_to(t('navigation.user-options'), edit_user_registration_path)
      %li
        = link_to(t('navigation.my_profile'), user_url(current_user))
      %li
        = link_to(t('navigation.sign_out'), destroy_user_session_path, :method=>'delete')
- else
  %li
    = link_to(t('navigation.sign_up'), new_user_registration_path)
