.sidebar-top.sidebar
.sidebar-middle.sidebar
  .sidebar-item
    = image_tag page.photo.thumb('80x80#').url, class: 'sidebar-image'
    %h3
      #{page.title}
    %p
      :markdown
        #{page.summary}
  .sidebar-item
    = image_tag page.wiki.photo.thumb('80x80#').url, class: 'sidebar-image'
    %h3
      Project
    %p
      #{page.wiki.title}
    :markdown
      #{page.wiki.description}
    %a.btn.primary
      Vind zelf ook bekende personen!
  .sidebar-item
    %h3
      Geschreven door:
  .sidebar-item
    %h3
      .timeline
        Tijdlijn
        = image_tag 'layout/timeline_start.png', class: 'block'
        - page.time_line_items.each do |happening|
          .time-line-item
            = image_tag 'layout/timeline_item.png'
            %small.twipsy-hover{'data-placement' => 'right',rel: 'popover',title: happening.happening}
              = truncate(happening.happening, length: 20)
              = happening.happened_at
        = image_tag 'layout/timeline_end.png', class: 'block'
    = link_to 'Kunt u het aanvullen?', new_page_time_line_item_path(page), class: "btn primary"

  .sidebar-item
    %h3
      Deel het met anderen
      .spread
    .fshare.pull-right
      %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
      %fb:like{:layout => "button_count", :show_faces => "false", :width => "100", :href => 'http://www.velehanden.nl', :action => 'like'}
    .twshare
      %a.twitter-share-button.left{"data-count" => "horizontal", "data-url" => "http://www.veleverhalen.nl", "data-text" => "Help ook mee om het verhaal van #{page.title} compleet te maken #VeleHanden", :href => "http://twitter.com/share"} Tweet
      %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
.sidebar-bottom.sidebar