- content_for :title do
  = @page.title
.row
  .span11
    .story
      :markdown
        #{@page.story}
    .well
      = render partial: 'page_likes/likes', locals: {page: @page}
      .pull-right
        = link_to "Verhaal aanvullen en/of bewerken", edit_wiki_page_path(@page.wiki, @page), class: "btn primary"
  .span5
    = render partial: 'pages/sidebar', locals: {page: @page}
  .span16
    %h1== Beeldmateriaal voor #{@page.title}
    - if @page.page_medias.nil?
      %div.alert-message.warning{"data-alert" => ""}
        %p== Wees de eerste die een foto of video toevoegd voor #{@page.title}!
    - else
      = render partial: 'pages/page_media_slideshow', locals: {page_medias: @page.page_medias}
    .well
      = link_to "Voeg een foto toe!", new_page_page_photo_path(@page.id), class: "btn primary"
      = link_to "Voeg een video toe!", search_vimeo_path(@page.id), class: "btn primary"
= render partial: 'page_videos/video_modal', locals: {page: nil}
= render partial: 'comments/comments', locals: {commentable: @page}