!!!
%html
  %head
    %title VeleHanden
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to 'Vele Handen', '/', class: 'brand'
          %ul.nav
            = render 'shared/navigation'
          .pull-right
            %ul.nav
              = render 'shared/user_navigation'
            = render 'shared/user_search'
    .container
      .content
        .page-header
          %h1= yield :title
        = render 'shared/flash_messages'
        = yield
      %footer
        %p
          = t('copyright')