!!!
%html
  %head
    %title VeleHanden
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header
      .container
        = image_tag 'layout/twitter_top.png', class: 'header-social-media-images'
        = image_tag 'layout/facebook_top.png', class: 'header-social-media-images'
        = image_tag 'layout/logo.png', class: 'logo'
        = render 'shared/navigation'
        .pull-right
          %ul.nav
            = render 'shared/user_search'
    .container
      .content
        .page-header
          %h1= yield :title
        = render 'shared/flash_messages'
        = yield
      %footer
        %p
          = t('copyright')